{{ range .Articles }}
<article id="{{ .GetID }}">
  {{ range .Sections }}
    {{ range .Blocks }}
      {{ if .IsImage}}
        {{ .EncodeImage }}
      {{ else if .IsLink }}
        <ul class="links">
        {{ .EncodeLink }}
        </ul>
      {{ else if .IsList }}
        {{ .EncodeList }}
      {{ else if .IsPre }}
        {{ .EncodePre }}
      {{ else if .IsCode }}
        {{ .EncodeCode }}
      {{ else }}
        {{ range .GetTaggedContent }}
        {{ . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</article>
{{ end }}